opencv_python==4.5.2.52
torchvision==0.8.2
numpy==1.19.5
starlette==0.14.2
uvicorn==0.13.4
requests==2.25.1
pydantic==1.8.2
pandas==1.1.5
torch==1.7.1
fastinference==0.0.36
fastai==2.2.7
fastapi==0.65.1
Pillow==8.2.0
